<div class="header" >
  <div class="app-header">
    <div class="logo">
        <a routerLink="/home" class="gold-mem">GoldMem</a>
      <img src="images/logoo.svg" routerLink="/home">
    </div>
    <nav>
      <ul>
        <li> <a routerLink="/profile" routerLinkActive="active" #rla="routerLinkActive">
             <i *ngIf="!rla.isActive" class="bi bi-person-circle"></i>
        </a>
        </li>
        <li><a><i class="bi bi-box-arrow-right" (click)="logout()"></i></a>
      </ul>
    </nav>
  </div>
</div>
