.header {
  position: sticky;
  top: 0;
  padding: 0px 0px;
  background: #555;
  color: #f1f1f1;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0rem 2rem;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 60px;
      margin-left: 10px;
      margin-left: 600px;
    }

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li a {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: gold;
      }
    }
  }
  .gold-mem {
    color: yellow;
    text-decoration: none; 
    font-size: 34px;
    transition: color 0.3s;
  }
  
  .gold-mem:hover {
    color: gold; 
  }
  
}
