<div class="profile-page-container">
  <!-- Notificarea -->
  <div class="notification-wrapper" *ngIf="notification && notification.message">
    <div class="custom-notification" 
         [class.success]="notification.type === 'success'" 
         [class.error]="notification.type === 'error'"
         [class.warning]="notification.type === 'warning'"
         [class.show]="notification.message">
      <span class="notification-text">{{ notification.message }}</span>
      <button class="notification-close" (click)="dismissNotification()">×</button>
    </div>
  </div>
    <!-- Follow manager modal -->
    <app-follow-manager *ngIf="showFollowManager" [open]="showFollowManager" [type]="followManagerType" (close)="closeFollowManager()"></app-follow-manager>

  <div class="main-content-wrapper">
    <!-- Coloana profil -->
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-header">
          <button class="settings-button" (click)="navigateToSettings()">
            <i class="bi bi-gear"></i>
          </button>
        </div>
        <div class="profile-content">
          <div class="profile-image">
            <img [src]="'https://i.pravatar.cc/150?img=5'" alt="Profile Image">
          </div>
          <div *ngIf="userProfile?.name" class="profile-name">
            <h4>{{ userProfile?.name }}</h4>
          </div>    
          <div class="profile-info">
            <p><strong>Followers:</strong> <a class="link" (click)="openFollowManager('followers')">{{userProfile?.followerCount}}</a></p>
            <p><strong>Following:</strong> <a class="link" (click)="openFollowManager('following')">{{userProfile?.followingCount}}</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Coloana postări -->
    <div class="posts-column">
      <app-posts></app-posts>
    </div>
  </div>
</div>