<div class="container">
  <!-- Notificarea -->
  <div class="notification-container" *ngIf="notification.message">
    <div class="notification" 
         [class.success]="notification.type === 'success'" 
         [class.error]="notification.type === 'error'"
         [class.warning]="notification.type === 'warning'"
         [class.show]="notification.message">
      <span class="notification-message">{{ notification.message }}</span>
      <button class="close-btn" (click)="dismissNotification()">×</button>
    </div>
  </div>
  <div class="profile-square">
    <div class="profile-header">
      <button class="settings-button" (click)="navigateToSettings()">
        <i class="bi bi-gear"></i>
      </button>
    </div>
    <div class="profile">
      
      <div class="profile-image">
        <img src="images/icons8-user-100.png" alt="Profile Image">
      </div>
      <div *ngIf="userName">
        <h4>{{ userName }}</h4>
      </div>    
      <div class="profile-info">
        <p>Followers: 123</p>
        <p>Following: 456</p>
      </div>
      <button class="follow-button">Follow</button>
    </div>
  </div>

  <div class="posts-rectangle">
    <div class=" post-list-container">
      <div *ngIf="posts.length > 0" class="posts-list">
        <div *ngFor="let post of posts" class="post-card">
          <div class="post-header">
            <div class="user-info">
              <span class="post-time">{{ post.createAt | date: 'dd MMMM yyyy, HH:mm' }}</span>
            </div>
            <div class="post-actions">
              <button class="edit-btn"  title="Edit post">
                <i class="fas fa-edit"></i>
              </button>
              <button class="delete-btn" (click)="deletePost(post.id)" title="Delete post">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="post-body">
            <p class="post-content">{{ post.content }}</p>
          </div>
          <div class="post-footer">
            <button class="interaction-btn" title="Like">
              <i class="far fa-heart"></i>
            </button>
            <button class="interaction-btn" title="Comment">
              <i class="far fa-comment"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="no-posts" *ngIf="posts.length === 0">
      <p>Această persoană nu a făcut încă nicio postare.</p>
    </div>
  </div>
</div>