<div class="container">
  <!-- Notificarea -->
  <div class="notification-container" *ngIf="notification.message">
    <div class="notification" 
         [class.success]="notification.type === 'success'" 
         [class.error]="notification.type === 'error'"
         [class.warning]="notification.type === 'warning'"
         [class.show]="notification.message">
      <span class="notification-message">{{ notification.message }}</span>
      <button class="close-btn" (click)="dismissNotification()">×</button>
    </div>
  </div>
  <div class="post-container">
    <form [formGroup]="postForm" (ngSubmit)="submitPost()">
      <textarea
        formControlName="content"
        placeholder="What's happening?"
        rows="4"
      ></textarea>
      <div class="button-container">
        <button type="submit" [disabled]="postForm.invalid">Post</button>
      </div>
    </form>

   <!-- Lista cu postări -->
   <div *ngIf="posts.length > 0">
    <div class="post-row" *ngFor="let post of posts">
      <!-- Imaginea postării -->
      <div class="post-image-container">
        <img src="images/icons8-user-100.png" alt="Post Image" />
      </div>
      <!-- Postarea text -->
      <div class="post-content">
        <p class="post-text">{{ post.post }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="posts.length === 0" class="no-posts">
    <p>Nicio postare încă.</p>
  </div>
</div>
</div>