<div class="container">
  <div class="login-section">
    <div *ngIf="errorMessage" [ngClass]="{ 'hidden': !isErrorVisible }" class="error-message">
      {{ errorMessage }}
    </div>
    <h1 class="login-title">Account Login</h1>
    <form class="login-form" [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="input-group">
        <div class="input-wrapper">
          <input 
            type="email" 
            id="email" 
            formControlName="email"
            placeholder="Email" 
            required 
          />
          <i class="bi bi-envelope-at-fill icon"></i>
        </div>
        <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="error">
          Invalid email format.
        </div>
      </div>
      
      <div class="input-group">
        <div class="input-wrapper">
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="password"
            placeholder="Password" 
            required 
            class="form-control" 
          />
          <span class="input-group-text" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'" class="icon"></i>
          </span>
        </div>
        <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched" class="error">
          Password must be at least 4 characters.
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="btn login-btn" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner"></span>
          <span *ngIf="!isLoading">Log In</span>
        </button>
        <button type="button" class="btn signup-btn" (click)="navigateToRegister('/register')">
          Sign Up
        </button>
      </div>
    </form>
  </div>

  <div class="logo-section">
    <img src="images/logoo.svg" alt="Golden Memos Logo" class="logo">
    <p class="tagline">A timeless vault for your diary</p>
  </div>
</div>
