<div class="container">
  <div class="logo-section">
      <img src="images/logoo.svg" alt="Golden Memos Logo" class="logo">
      <p class="tagline">A timeless vault for your diary</p>
  </div>
  <div class="register-section">
      <div *ngIf="errorMessage" 
           [ngClass]="{ 'hidden': !isErrorVisible }"
           class="error-message">
          {{ errorMessage }}
      </div>
      <h1>Account Registration</h1>
      <form class="register-form" [formGroup]="registerForm" (submit)="onSubmit()">
          <!-- Email -->
          <div class="input-group">
              <div class="input-wrapper">
                  <input 
                      type="email" 
                      id="email" 
                       formControlName="email" 
                      placeholder="Email" 
                      required  
                  />
                  <i class="bi bi-envelope-at-fill icon"></i>
              </div>
              <div *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched" class="error">
                Invalid email format.
              </div>
          </div>

          <!-- Parolă -->
          <div class="input-group">
            <div class="input-wrapper">
                <input 
                    [type]="showPassword ? 'text' : 'password'" 
                    formControlName="password"      
                    placeholder="Password" 
                    required  
                    class="form-control" 
                />
                <span class="input-group-text" (click)="togglePasswordVisibility('password')">
                    <i [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'" class="icon"></i>
                </span>
            </div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched" class="error">
              Password must be at least 4 characters.
            </div>
        </div>
        
        <!-- Confirmare Parolă -->
        <div class="input-group">
            <div class="input-wrapper">
                <input 
                    [type]="showConfirmPassword ? 'text' : 'password'" 
                    formControlName="confirmPassword" 
                    name="confirmPassword" 
                    placeholder="Confirm Password" 
                    required 
                    class="form-control" 
                />
                <span class="input-group-text" (click)="togglePasswordVisibility('confirm')">
                    <i [class]="showConfirmPassword ? 'bi bi-eye' : 'bi bi-eye-slash'" class="icon"></i>
                </span>
            </div>
            <div *ngIf="registerForm.hasError('passwordMismatch')" class="error">
              Passwords do not match.
          </div>
        </div>

          <div class="button-group">
              <button type="submit" class="btn signup-btn" [disabled]="isLoading">
                  <span *ngIf="isLoading" class="spinner"></span>
                  <span *ngIf="!isLoading">Sign Up</span>
              </button>
          </div>
      </form>
  </div>
</div>
