<div class="container">
  <div class="logo-section">
      <img src="images/logoo.svg" alt="Golden Memos Logo" class="logo">
      <p class="tagline">A timeless vault for your diary</p>
  </div>
  <div class="register-section">
      <div *ngIf="errorMessage" 
           [ngClass]="{ 'hidden': !isErrorVisible }"
           class="error-message">
          {{ errorMessage }}
      </div>
      <h1>Account Registration</h1>
      <form class="register-form" [formGroup]="registerForm" (submit)="onSubmit()">
          <!-- Email -->
          <div class="input-group">
              <div class="input-wrapper">
                  <input 
                      type="email" 
                      id="email" 
                       formControlName="email" 
                      placeholder="Email" 
                      required  
                  />
                  <i class="bi bi-envelope-at-fill icon"></i>
              </div>
              <div *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched" class="error">
                Invalid email format.
              </div>
          </div>
         <!-- Username -->
        <div class="input-group">
             <div class="input-wrapper">
                 <input 
                      type="text" 
                      id="username" 
                      formControlName="username" 
                      placeholder="Username" 
                      required  
                      />
                   <i class="bi bi-person-fill icon"></i>
            </div>
           <div *ngIf="registerForm.get('username')?.errors?.['minlength'] && registerForm.get('username')?.touched" class="error">
            Username must be at least 3 characters.
           </div>
        </div>

          <!-- Parolă -->
          <div class="input-group">
            <div class="input-wrapper">
                <input 
                    type="password"
                    id="password" 
                    formControlName="password"      
                    placeholder="Password" 
                    required  
                    class="form-control" 
                    appPasswordStrength
                    minLenght="4"
                />
                <span class="input-group-text" appPasswordToggle [targetInputId]="'password'">  </span>
            </div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched" class="error">
              Password must be at least 4 characters.
            </div>
        </div>
        
        <!-- Confirmare Parolă -->
        <div class="input-group">
            <div class="input-wrapper">
                <input 
                    type="password"
                    id="confirmPassword"
                    formControlName="confirmPassword" 
                    name="confirmPassword" 
                    placeholder="Confirm Password" 
                    required 
                    class="form-control" 
                />
                <span class="input-group-textt" appPasswordToggle [targetInputId]="'confirmPassword'"></span>
            </div>
            <div *ngIf="registerForm.hasError('passwordMismatch')" class="error">
              Passwords do not match.
          </div>
        </div>

          <div class="button-group">
              <button type="submit" class="btn signup-btn" [disabled]="isLoading">
                  <span *ngIf="isLoading" class="spinner"></span>
                  <span *ngIf="!isLoading">Sign Up</span>
              </button>
          </div>
      </form>
  </div>
</div>
